############
# Compiled #
############
*.class

#################
# IDE Generated #
#################
.classpath
.project
.settings

##########
# Assets #
##########
*.gif

########
# Misc #
########
*~